@import url('https://fonts.googleapis.com/css?family=Crete+Round|Raleway');

body{
    /* font-family: 'Crete Round', serif;
    font-weight:400; */
    background-color: #f3f9f7;
    color:#353232;
}

.container-fluid{
    padding: 0; 
    margin: 0;
    font-family: 'Crete Round', serif;
    

}

.container{
    font-family: 'Raleway', serif;
}

/*NAV Section*/
.nav li a:hover{
    background-color: transparent;
}
.navbar-default{
    background-color:#4A686A;
    border-color:transparent;
}

.nav{
    padding-left: 0px;
    list-style: none;

}

.navbar-default .navbar-nav >.active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
    color:#fff;
    background-color: rgba(17,17,17,.5);
}

.navbar-default .navbar-nav >li > a{
    color:fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
    color:#648477;
    background-color: rgba(17,17,17,.2);
}

nav.navbar{
    /* position:absolute;
    top:100; */
    right:0;
    left:0;
    z-index: 20;
}

.navbar-brand>img{
    margin-top:-7px;
}


.jumbotron {
    background: url('../img/flower.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: 'Crete Round', serif;
    color:black;
    
  }

  .jumbotext{
      margin-top:60px;
  }

.social-media {
    right:100;
    text-align: center;
}

.docimg{
    height:100px;
    border-radius: 30px;
    opacity: 0.5;
}

.btn-primary{
    color:#fff;
    background-color:#90B0A5
    border-color:transparent;
}
.btn-primary:hover{
    color:#fff;
    background-color:#90B0A5
    border-color:transparent;
}

.contact_form{
    background: url('../img/butterfly.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  margin-bottom: 0px;
}